//==========================================
// Clearing Floats
//==========================================
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//==========================================
// Responsive Design
//==========================================
$bp-400: 25em;
$bp-450: 28.125em;
$bp-500: 31.25em;
$bp-550: 34.375em;
$bp-600: 37.5em;
$bp-650: 40.625em;
$bp-700: 43.75em;
$bp-750: 46.875em; //used
$bp-800: 50em; //used
$bp-850: 53.125em;
$bp-900: 56.25em;
$bp-950: 59.375em; //used
$bp-1050: 65.625em; //used
$bp-1100: 68.75em;
$bp-1150: 71.875em;
$bp-1200: 75em;
$bp-1250: 78.125em; //used
@mixin responsive($bp) {
  @if $bp == bp-400 {
    @media only screen and (max-width: $bp-400) {
      @content;
    }
  } @else if $bp == bp-450 {
    @media only screen and (max-width: $bp-450) {
      @content;
    }
  } @else if $bp == bp-500 {
    @media only screen and (max-width: $bp-500) {
      @content;
    }
  } @else if $bp == bp-550 {
    @media only screen and (max-width: $bp-550) {
      @content;
    }
  } @else if $bp == bp-600 {
    @media only screen and (max-width: $bp-600) {
      @content;
    }
  } @else if $bp == bp-650 {
    @media only screen and (max-width: $bp-650) {
      @content;
    }
  } @else if $bp == bp-700 {
    @media only screen and (max-width: $bp-700) {
      @content;
    }
  } @else if $bp == bp-750 {
    @media only screen and (max-width: $bp-750) {
      @content;
    }
  } @else if $bp == bp-800 {
    @media only screen and (max-width: $bp-800) {
      @content;
    }
  } @else if $bp == bp-850 {
    @media only screen and (max-width: $bp-850) {
      @content;
    }
  } @else if $bp == bp-900 {
    @media only screen and (max-width: $bp-900) {
      @content;
    }
  } @else if $bp == bp-950 {
    @media only screen and (max-width: $bp-950) {
      @content;
    }
  } @else if $bp == bp-1000 {
    @media only screen and (max-width: $bp-1000) {
      @content;
    }
  } @else if $bp == bp-1050 {
    @media only screen and (max-width: $bp-1050) {
      @content;
    }
  } @else if $bp == bp-1100 {
    @media only screen and (max-width: $bp-1100) {
      @content;
    }
  } @else if $bp == bp-1150 {
    @media only screen and (max-width: $bp-1150) {
      @content;
    }
  } @else if $bp == bp-1200 {
    @media only screen and (max-width: $bp-1200) {
      @content;
    }
  } @else if $bp == bp-1250 {
    @media only screen and (max-width: $bp-1250) {
      @content;
    }
  } @else {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
