//==========================================
// Color variables
//==========================================
$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-primary-d2: #54483a;

$color-secondary: #101d2c;
$color-black: #000;
$color-white: #fff;

$color-grey-font: #777777;
$color-grey-d1: #333;
$color-grey-d2: #999;

$color-grey-l1: #ccc;
$color-grey-l2: #f0eeee;
$color-grey-l3: #f4f2f2;
$color-grey-l4: #faf9f9;

//==========================================
// Font variables
//==========================================
$font-size-default: 1.6rem;
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin sans', sans-serif;
